.main-contact {
    position: relative;

    display: block;
    height: 160vh;
}

.main-contact img {
    position: absolute;
  
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.for-any {
    font-size: var(--font-2l);

    position: absolute;

    top: 195px;
    left: 15px;
    margin: 5px;

    color: var(--secondary-color);
}

.other-queries {
    font-size: var(--font-3l);
    position: absolute;

    top: 255px;
    right: 15px;
    margin: 5px;

    text-align: right;

    color: var(--secondary-color);
}

.info-card {
    position: absolute;

    top: 595px;
    left: 15px;
    width: 350px;

    margin: 5px;

    text-align: left;
    background-color: var(--secondary-color);
}

.info-heading {
    font-size: var(--font-2s);
    font-weight: var(--font-weight-mid);
    width: 100%;
    padding: 10px 40px 5px 5px;

    border: 1px solid var(--primary-color);
}

.info-section {
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

/* uniform padding for each p */
.info-section p {
    padding: 10px 20px 5px 20px;
}

#company-name {
    font-size: var(--font-1s);
    font-weight: var(--font-weight-bold);

    padding: 20px 20px 0 20px;
}

#company-address {
    font-size: var(--font-2s);
    font-weight: var(--font-weight-light);

    padding: 5px 20px 10px 20px;
}

#company-number {
    font-size: var(--font-1s);
    font-weight: var(--font-weight-bold);

    padding: 10px 20px 10px 20px;
}

#company-mail {
    font-size: var(--font-1s);
    font-weight: var(--font-weight-bold);

    padding: 10px 20px 30px 20px;
}

/* FORM BOX */
.contact-form {
    position: absolute;

    top: 890px;
    left: 24.8%;
    display: flex;

    align-items: center;
    flex-direction: column;

    justify-content: space-around;
    width: 900px;

    height: 700px;
    margin: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

/*get in touch*/
.contact-form p {
    font-size: var(--font-4m);
}

/* inputs */
.form-container {
    display: grid;
    width: 90%;

    height: 70%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* milaudai in grids */

#subject {
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
}

#firstname {
    border-top: none;
    border-right: none;

    border-bottom: none;
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
}

#lastname {
    border-top: none;
    border-bottom: none;

    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
}

#phone {
    border-right: none;
    border-bottom: none;

    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

#address {
    border-right: none;
    border-bottom: none;

    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}

#email {
    border-bottom: none;
    grid-column: 5 / span 2;
    grid-row: 3 / span 1;
}

#message {
    border-bottom: none;
    grid-column: 1 / span 6;
    grid-row: 4 / span 2;
}

/* button */
#send {
    font-size: var(--font-1s);
    font-weight: var(--font-weight-bold);

    color: var(--secondary-color);
    border: 1px solid var(--primary-color);

    border-radius: 0;
    background-color: var(--primary-color);

    grid-column: 1 / span 6;
    grid-row: 6 / span 1;
}

/* changing tags default apperance per theme */
input[type="text"] {
    font-family: "Bw Gradual DEMO", serif;
    font-size: var(--font-2s);

    padding: 10px 20px 10px 10px;

    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    border-radius: 0;
    outline: none;
    background-color: var(--secondary-color);
}

textarea {
    font-family: "Bw Gradual DEMO", serif;
    font-size: var(--font-2s);
    padding: 10px 20px 10px 10px;

    opacity: 0.8;

    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    border-radius: 0;
    outline: none;
    background-color: var(--secondary-color);
}
