.navbar {

  display: grid;
  grid-template-columns: repeat(24, 1fr);

  align-items: center;
  font-size: var(--font-2s);
  font-weight: 700;

  /*border: 1px solid var(--primary-color );*/
  background-color: var(--secondary-color);
  color: var(--primary-color);

/*  fixing into place*/
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  z-index: 1000;

  height: var(--nav-height);

}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  height: var(--nav-height);

}

.nav-item:hover, .dropdown:hover  {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}


.nav-item{
  border: 1px solid var(--primary-color);
}
.nav-item:not(:last-child){
  border-right: none ;
}

.nav-empty{
  height: var(--nav-height);
  border: 1px solid var(--primary-color);
  border-right: none;
  border-left: none;
}
.dropdown .nav-item{
  border: none;
}




/* logo */
.navbar .logo {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* product */
.navbar .dropdown {
  grid-column: 3 / span 5;
  display: flex;
  align-items: center;
  justify-content: center;



}

/* empty space */
.navbar .nav-empty {
  grid-column: 8 / span 8;
}

/* lookbook */
.navbar a:nth-of-type(2) {
  grid-column: 16 / span 3;
}

/* signin */
.navbar a:nth-of-type(3) {
  grid-column: 19 / span 2;
}

/* cart */
.navbar .cart {
  grid-column: 21 / span 2;
}

/* contact */
.navbar a:nth-of-type(5) {
  grid-column: 23 / span 2;
}



.dropdown {
  position: relative;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  border: 1px solid var(--primary-color);
  /*border-top: none;*/
  height: var(--nav-height);
}


.dropdown-content{
  display:none;
  position: absolute;

  top: 82%;
  left: -40.5%;
  min-width: 97.8vw;
  height: 210px;

  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-top: none;
  margin-top: 10px;

}





/* hover ma dekhauna */
.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: repeat(24, 1fr);

}


.dropdown-link{
  height: 100%;

  grid-column: 1/ span 7;

  border:1px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.dropdown-link a {
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;    /* Increased left padding */
  padding-right: 0.4rem;
  text-decoration: none;
  color: var(--primary-color);

  font-size: var(--font-2s);

}

.dropdown-link a:first-child {
  padding-top: 30px;
}

.dropdown-link a:last-child {
  padding-bottom: 30px;
}


.slide{

  grid-column: 8 / span 11;

  height: 100%;
  padding: 10px;

  border: 1px solid var(--primary-color);
  border-top: none;
  border-bottom: none;

  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-size: var(--font-4l);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: relative;
  /* Add fixed width */
  /*max-width: 33.5%;*/
  /*flex: 0 0 33.5%;*/


}


.slide-text-container {
  display: flex;
  white-space: nowrap;
  animation: slideText 20s linear infinite;
  /* Contain the text within parent */
  position: absolute;
  width: max-content;
}


/* Add text wrapper div inside .slide */
.slide-text {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-right: 50px;

}

/* Define the sliding animation */
@keyframes slideText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}




.dropdown-image{
  height: 100%;

  grid-column: 20/ span 4;

  /*background-color: #403a34;*/
  /*width:32vw ;*/
  /*border: 1px solid var(--primary-color);*/
}

.dropdown-image img{
  width: 100%;
  height: 100%;
}

.cart {
  position: relative;
}

.cart-count {
  position: absolute;
  top: 2px;
  right: 2px;

  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 2px 6px;

  font-size: 12px;
}


.cart:hover .cart-count{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}



