.main-products{

  height: 320vh;

  position: relative;
  display: block;



}

.navbar {
  z-index: 1000;
}

.our-products{
  position: relative;
  display: block;
  width: 400px;

  top: 170px;
  left: 20px;

  margin-bottom: 300px;

  font-size: var(--font-3l);
  font-weight: var(--font-weight-mid);


}

.product-nav{
  position: sticky;
  z-index: 900; /* Lower than navbar's z-index */

  margin: 20px;
  top: 100px ;
  /*left: 20px; left kam gardaina here*/ ;

  width: 19vw;
  /*border: 1px solid var(--primary-color);*/
}

.type-list{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 84vh;

  border: 1px solid var(--primary-color);
  border-top: none;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}


/* styling list */
.type-list a{
  text-decoration: none;
  color: var(--primary-color);

  font-size: var(--font-2s);
  font-weight: var(--font-weight-bold);
  width: 90%;

  padding: 10px 20px 0 20px;

  display: inline-flex;

  transition: padding 0.5s;

}

.invisible{
  background-color: var(--primary-color);
  margin: 0 5px 0 0;

  height: 4px;
  width: 4px;

  align-self: center;
  transition: padding 0.6s ease-in, visibility 0.6s ease-in;


}

/* dot on hover, visible*/
.type-list a:hover .invisible{
  display: block;
  visibility: visible;
  padding: 0 5px 0 0;
}


input[type=text]{
  font-family: "Bw Gradual DEMO", serif;
  font-size: var(--font-2s);
  font-weight: var(--font-weight-mid);

  padding: 15px 20px 15px 20px;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  width: 100%;
}

 /*

 PRODUCT ALIGNMENT

*/

.products{

  position: absolute;

  margin-top: 629px;
  margin-left: 25vw;
  top: 0;
  padding: 20px;

  /*background-color: var(--primary-color);*/
  width: 74.4%;
}

.product{
  padding: 10px;
  margin: auto;
  height: auto;
  width: auto;

  position: absolute;
  display: block;

  /*background-color: var(--accent-color-beige);*/

  z-index: 1;
}


.product img{
  object-fit: cover;
  z-index: 1;
}

.product p{
  padding: 10px 10px 5px 0;

  font-size: var(--font-4m);

  z-index: 1;
}


/* PRODUCT 1 */
.product-1{

  top: 2vh;
  left: 1vw;

}

#img01{
  width: 30vw;
  height: 70vh;
}


/* PRODUCT 2 */
.product-2{
  top: 2vh;
  right: 0;
}

#img02{
  width: 30vw;
  height: 55vh;
}

/* PRODUCT 3 */
.product-3{

  top: 90vh;
  left: 1vw;

}

#img03{
  width: 44vw;
  height: 60vh;
}


/* PRODUCT 4 */
.product-4{

  top: 90vh;
  right: 0;

}

#img04{
  width: 25vw;
  height: 40vh;
}


/* PRODUCT 5 */

.product-5{
  top: 170vh;
  right: 0;
}

#img05{
  width: 30vw;
  height: 75vh;
}


.product-6{
  top: 170vh;
  left: 1vw;
}

#img06{


  width: 20vw;
  height: 45vh;
  object-fit: cover;
}








/* CUSTOM ORDER */

.custom-order{

  position: relative;
  width: 100vw;
  height: 80vh;

}

.custom-order img{
  width: 100vw;
  /*height: 75vh;*/

  object-fit: cover;
}


.for-any{
  position: absolute;
  top: 70px;
  left: 15px;

  color: var(--secondary-color);
  font-size: var(--font-2l);
}


.request{
  position: absolute;
  top: 300px;
  right: 15px;

  color: var(--secondary-color);
  font-size: var(--font-2l);

}


.order-box{
  position: absolute;

  /* placing in center */
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 650px;
  height: 350px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.order-box p{
  color: var(--primary-color);
  font-size: var(--font-4m);
  font-weight: var(--font-weight-bold);
}

.order-box button{
  background-color: var(--secondary-color);
  color: var(--primary-color);

  font-size: var(--font-1s);
  font-weight: var(--font-weight-bold);

  border: 1px solid var(--primary-color);
  padding: 20px 40px;



}


.order-box button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}




.product-details{
  display: none;
}



.product:hover .product-details{
  display: grid;

  height: 130px;
  width: 300px;

  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 1px solid var(--primary-color);

  position: absolute;
  bottom: -10px;
  z-index: 2;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.top{

  grid-column: 1/ span 3;
  grid-row: 1 /span 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;

  border: 1px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;

  padding-left: 20px;

}

.top p{
  font-size: var(--font);
}

.top button{
  height: 100%;


  padding: 0 20px 0 20px;
  margin: 0;

  border: none;
  border-radius: 0;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  font-size: var(--font-1s);
  font-weight: var(--font-weight-bold);
}


.bottom{

  grid-column: 1/ span 3;
  grid-row: 2 /span 3;

  display: flex;

  width: 300px;
  padding-left: 20px;
  padding-right: 20px;

  align-items: center;
  justify-content: space-between;
}









