.main-products {

    position: relative;

    display: block;
    height: 320vh;
}

.navbar {
    z-index: 1000;
}

.our-products {
    font-size: var(--font-3l);
    font-weight: var(--font-weight-mid);
    position: relative;

    top: 170px;
    left: 20px;

    display: block;

    width: 400px;
    margin-bottom: 300px;
}

.product-nav {
    position: sticky;
    z-index: 900; /* Lower than navbar's z-index */

    top: 100px;
    width: 19vw;
    /*left: 20px; left kam gardaina here*/;

    margin: 20px;
    /*border: 1px solid var(--primary-color);*/
}

.type-list {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 84vh;

    color: var(--primary-color);
    border: 1px solid var(--primary-color);

    border-top: none;
    background-color: var(--secondary-color);
}


/* styling list */
.type-list a {
    font-size: var(--font-2s);
    font-weight: var(--font-weight-bold);

    display: inline-flex;
    width: 90%;
    padding: 10px 20px 0 20px;

    transition: padding 0.5s;

    text-decoration: none;

    color: var(--primary-color);

}

.invisible {
    align-self: center;
    width: 4px;

    height: 4px;
    margin: 0 5px 0 0;

    transition: padding 0.6s ease-in, visibility 0.6s ease-in;
    background-color: var(--primary-color);


}

/* dot on hover, visible*/
.type-list a:hover .invisible {
    display: block;
    visibility: visible;
    padding: 0 5px 0 0;
}


input[type=text] {
    font-family: "Bw Gradual DEMO", serif;
    font-size: var(--font-2s);
    font-weight: var(--font-weight-mid);

    width: 100%;

    padding: 15px 20px 15px 20px;
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
    border-radius: 0;
    outline: none;
    background-color: var(--secondary-color);
}

/*

PRODUCT ALIGNMENT

*/

.products {

    position: absolute;

    top: 0;
    width: 74.4%;
    margin-top: 629px;
    margin-left: 25vw;

    /*background-color: var(--primary-color);*/
    padding: 20px;
}

.product {
    position: absolute;
    z-index: 1;
    display: block;
    width: auto;

    height: auto;
    margin: auto;

    /*background-color: var(--accent-color-beige);*/

    padding: 10px;
}


.product img {
    z-index: 1;
    object-fit: cover;
}

.product p {
    font-size: var(--font-4m);

    z-index: 1;

    padding: 10px 10px 5px 0;
}


/* PRODUCT 1 */
.product-1 {

    top: 2vh;
    left: 1vw;

}

#img01 {
    width: 30vw;
    height: 70vh;
}


/* PRODUCT 2 */
.product-2 {
    top: 2vh;
    right: 0;
}

#img02 {
    width: 30vw;
    height: 55vh;
}

/* PRODUCT 3 */
.product-3 {

    top: 90vh;
    left: 1vw;

}

#img03 {
    width: 44vw;
    height: 60vh;
}


/* PRODUCT 4 */
.product-4 {

    top: 90vh;
    right: 0;

}

#img04 {
    width: 25vw;
    height: 40vh;
}


/* PRODUCT 5 */

.product-5 {
    top: 170vh;
    right: 0;
}

#img05 {
    width: 30vw;
    height: 75vh;
}


.product-6 {
    top: 170vh;
    left: 1vw;
}

#img06 {


    width: 20vw;
    height: 45vh;
    object-fit: cover;
}


/* CUSTOM ORDER */

.custom-order {

    position: relative;
    width: 100vw;
    height: 80vh;

}

.custom-order img {
    width: 100vw;
    /*height: 75vh;*/

    object-fit: cover;
}


.for-any {
    font-size: var(--font-2l);
    position: absolute;
    top: 70px;

    left: 15px;
    color: var(--secondary-color);
}


.request {
    font-size: var(--font-2l);
    position: absolute;
    top: 300px;

    right: 15px;
    color: var(--secondary-color);

}


.order-box {
    position: absolute;

    /* placing in center */
    top: 50%;
    left: 50%;
    display: flex;

    align-items: center;
    flex-direction: column;

    justify-content: space-around;

    width: 650px;
    height: 350px;
    padding: 20px;
    transform: translate(-50%, 0%);
    text-align: center;

    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

.order-box p {
    font-size: var(--font-4m);
    font-weight: var(--font-weight-bold);
    color: var(--primary-color);
}

.order-box button {
    font-size: var(--font-1s);
    font-weight: var(--font-weight-bold);

    padding: 20px 40px;
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);


}


.order-box button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}


.product-details {
    display: none;
}


.product:hover .product-details {
    position: absolute;

    z-index: 2;
    bottom: -26px;

    display: grid;
    width: 310px;

    /*border: 1px solid var(--primary-color);*/

    height: 130px;
    color: var(--primary-color);
    background-color: var(--secondary-color);

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.top {

    display: flex;
    align-items: center;

    justify-content: space-between;
    width: 310px;
    padding-left: 20px;
    border: 1px solid var(--primary-color);

    border-right: none;
    /*border-top: none;*/
    /*border-left: none;*/
    grid-column: 1/ span 3;

    grid-row: 1 /span 1;

}

.top p {
    font-size: var(--font);
}

.top button {
    font-size: var(--font-1s);


    font-weight: var(--font-weight-bold);
    height: 100%;

    margin: 0;
    padding: 0 20px 0 20px;

    color: var(--secondary-color);
    border: none;

    border-radius: 0;
    background-color: var(--primary-color);
}


.bottom {

    display: flex;
    align-items: center;

    justify-content: space-between;

    width: 310px;
    padding-right: 20px;
    padding-left: 20px;

    border: 1px solid var(--primary-color);
    border-top: none;

    grid-column: 1/ span 3;
    grid-row: 2 /span 3;
}









