.main-products{

  height: 300vh;

  position: relative;
  display: block;


}

.navbar {
  z-index: 1000;
}

.our-products{
  position: relative;

  top: 170px;
  left: 20px;

  margin-bottom: 300px;

  font-size: var(--font-3l);
  font-weight: var(--font-weight-mid);


}

.product-nav{
  position: sticky;
  z-index: 900; /* Lower than navbar's z-index */

  margin: 20px;
  top: 100px ;
  /*left: 20px; left kam gardaina here*/ ;

  width: 300px;
  /*border: 1px solid var(--primary-color);*/
}

.type-list{
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 84vh;

  border: 1px solid var(--primary-color);
  border-top: none;

  background-color: var(--secondary-color);
  color: var(--primary-color);
}


.type-list a{
  text-decoration: none;
  color: var(--primary-color);

  font-size: var(--font-2s);
  font-weight: var(--font-weight-bold);
  width: 90%;

  padding: 10px 20px 0 10px;

  display: inline-flex;

}


.type-list a:hover .invisible{
  display: block;
  padding: 0 5px 0 0;
}






input[type=text]{
  font-family: "Bw Gradual DEMO", serif;
  font-size: var(--font-2s);
  font-weight: var(--font-weight-mid);

  padding: 15px 20px 15px 15px;

  background-color: var(--secondary-color);
  color: var(--primary-color);

  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 0;
  width: 100%;
}
