/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
    --secondary-color: #f6f1eb; /* OG */
    /*--secondary-color: #e1dad4; !* ALTERNATIVE TO MATCH BACKGROUND *!*/
    --primary-color: #403a34; /* Gray */
    --accent-color-green: #016E4E;
    --accent-color-beige: #c9c1b6;


    --header-height: 8rem;
    --header-shrink-height: 5rem;

    --border-radius: 0;
    --def-padding: 0.6rem 1rem 0.6rem 1rem;


    /*  font sizes*/
    --font-3s: 0.7rem;
    --font-2s: 0.85rem;
    --font-1s: 0.9rem;

    --font: 1rem;


    --font-1m: 1.15rem;
    --font-2m: 1.3rem;
    --font-3m: 1.45rem;
    --font-4m: 1.6rem;

    --font-1l: 5rem;
    --font-2l: 6rem;
    --font-3l: 8rem;
    --font-4l: 10rem;
    --font-5l: 12rem;

    /* FONT WEIGHT */
    --font-weight-light: 400;
    --font-weight-mid: 500;
    --font-weight-bold: 650;

    --letter-spacing: 0.05em;

    /*  margin */
    --margin-l-top: 150px 0;


    /*  navbar height */
    --nav-height: 54px


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: "Bw Gradual DEMO", serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4;
    color: var(--primary-color);

    scroll-behavior: smooth;

}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: inherit;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

label {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

.invisible {
    display: none;
    visibility: hidden;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

body {
    height: 100%;
    /*margin: 20px 20px;*/
    padding: 0;
    letter-spacing: 0.05em;
    background-color: var(--secondary-color);
    /*background-image: url("img/bg-image.jpg");*/

}


/* MAIN FILE */

.main-index {
    height: 250vh;
}

.hero {
    position: relative;
    display: block;

    overflow: hidden;

    margin: 20px 20px;
    border: 1px solid var(--primary-color);
}

#hero-img {
    width: 100%;
    height: 95vh;
    /*height: 1100px;*/
    object-fit: cover;

}


#mini-description {
    font-size: var(--font-2s);
    font-weight: var(--font-weight-bold);
    position: absolute;

    bottom: 220px;
    left: 40px;
    margin: 5px;

    transform: translateY(-50%);
    letter-spacing: 0.05em;

    text-transform: uppercase;

}

#main-description {
    font-size: 6rem;
    font-weight: var(--font-weight-bold);
    position: absolute;

    bottom: 90px;

    left: 40px;
    margin: 5px;
    /*transform: translateY(-50%);*/
    letter-spacing: var(--letter-spacing);

    text-transform: uppercase;

}

.assurance {
    position: relative;
    display: block;
    margin: 5px;
}

#sustainable {
    font-size: 3.7rem;

    font-weight: var(--font-weight-bold);
    position: absolute;

    top: 125px;
    left: 20px;

}


#high-quality {
    font-size: var(--font-2m);
    position: absolute;

    top: 400px;
    right: 20px;
}

.enhance {
    position: relative;
    display: block;

    margin: 495px 0;

}

.enhance p {
    font-size: var(--font-2s);

    font-weight: var(--font-weight-light);
    position: absolute;
    left: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#enhance01 {
    position: absolute;

    top: 400px;

    left: 20px;
    width: 600px;

}

#enhance02 {
    position: absolute;
    right: 20px;

    width: 600px;
}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
